# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Program Files\AndroidKiller_v1.3.1\projects\风花雪月-0.2.2\Project\assets\widget\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
